<style>
    #map-canvas {
        height: 325px;
        width: auto;
        border: 2px solid red;
    }

    .active a {
    color: pink;
    text-decoration: none;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
</style>

<div ng-controller="searchController" style="background-color: lightyellow; height: 325px;" id="addNew" class="col-md-6">

<span style="padding:5%">
    <search></search></span>

</div>
<div ng-controller="petFormController" style="background-color: #e4d9bd; height: 325px;" class="col-md-6">
        <static-map-dispatch></static-map-dispatch>
  <div></div>
</div>
<!--<script src="http://maps.google.com/maps/api/js?key=AIzaSyDqHspKFKggT_yQH6EoB6fUQxiDY1nFJB4"></script>-->