<style>
    #map-canvas {
        height: 325px;
        width: auto;
        border: 15px solid gray;
        border-radius: 10px!
    }

    .active a {
    color: pink;
    text-decoration: none;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
</style>


<div style="background-color: white; height: 150px;" id="addNew" class="col-md-6">
    <!--<span style="padding:5%"><search></search></span>-->
    <div style="padding:2%; margin-top: 8%; margin-left: 15%;">
    <h1 style="color: black;display: inline; text-align: center;">Hi, Pet Detective
</h1>
        <a data-toggle="collapse" data-target="#demo" style="width: 80%"class="btn btn-lg btn-success" href="#">
        <i class="fa fa-pencil fa-2x pull-left"></i><span style="font-size: 25px">Pet Found/Lost?</span></a>
    </div>
</div>
<div ng-controller="petFormController" style="background-color:white; height: 325px;" class="col-md-6">
        <static-map-dispatch></static-map-dispatch>
</div>
