<!--<script src="https://maps.googleapis.com/maps/api/place/autocomplete/json?input=748 camp street&key=AIzaSyCpf6PwUa_fHc1X-xCebvuPAyDJd_F7c3k"></script>-->

<div class="col-md-6" ng-init="ctrl.render()">
<form class="row" style="background-color:lavender;">
  <div ng-controller="dispatchController"></div>
  <div class="form-group">
    <label for="lostOrFound"> Choose Lost or Found: </label><br>
      <select name="lostOrFound" ng-model="ctrl.petState.lostOrFound">
        <option ng-model="ctrl.petState.lostOrFound" value="{{ctrl.petState.option1}}">Lost</option>
        <option ng-model="ctrl.petState.lostOrFound" value="{{ctrl.petState.option2}}">Found</option>
      </select>
      <tt>{{ctrl.petState.lostOrFound}} Pet</tt>
      <br>
    <label for="singleSelect"> Choose Animal Type: </label><br>
      <select name="singleSelect" ng-model="ctrl.data.singleSelect">
        <option ng-model="ctrl.data.singleSelect" value="{{ctrl.data.option1}}">Cat</option>
        <option ng-model="ctrl.data.singleSelect" value="{{ctrl.data.option2}}">Dog</option>
      </select>
      <tt>  Type of Pet: {{ctrl.data.singleSelect}}</tt>
    </div>
    <div class="form-group">

      <label for="address">Last Seen: Enter Address or Nearby Business</label>
      <input g-places-autocomplete ng-model="ctrl.place" type="text" class="form-control" id="address">
    </div>
    <div class="form-group">
      <label>Enter Animal Details</label>
      <input ng-model="ctrl.formBody" type="text" class="form-control" id="formBody">
    </div>
  <button ng-click="ctrl.submit(ctrl.address, ctrl.formBody)" type="submit" class="btn btn-default">Submit</button>
</form>
</div>
<div ng-repeat="bulletin in ctrl.bulletinData" style="color: white; margin-top: 2px;background-color:darkgreen; height:289px" class="col-md-6">
    {{bulletin}}
</div>
 <!--<script src="https://maps.googleapis.com/maps/api/place/autocomplete/json?input=${ctrl.place}&key=AIzaSyCpf6PwUa_fHc1X-xCebvuPAyDJd_F7c3k"></script>-->