
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<style>
  @import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  /*background-color:#fff;*/
  -webkit-font-smoothing: antialiased;
  font: normal 20px Roboto,arial,sans-serif;
}

/*.container {
    padding: 25px;
    position: absolute;
}*/

.form-login {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: green;
  border-width: 2px;
  box-shadow:0 2 px 0 #cfcfcf;
}

h4 { 
  border:0 solid #fff; 
  border-bottom-width:1px;
  padding-bottom:10px;
  font-size: 25px;
  text-align: center;
  color: white;
}

.form-control {
    border-radius: 5px;
}

.wrapper {
    text-align: center;
}

.pac-container { z-index: 10000 !important; }

</style>


 <div class="container">
  <div class="row">
    <div style="border-radius: 10px;padding: 10px; background-color: white" id="addNew">
      <div class="container">
        <div class="row">
          <div>
          <h2>Search Pets by Neighborhood, etc</h2> 
            <div id="custom-search-input">
              <div class="input-group col-md-9">
                <input ng-model="ctrl.searchTerm" type="text"  class="form-control input-lg" placeholder="Search..." />
                <span class="input-group-btn">
                  <button ng-click="ctrl.fetchSearchResults(ctrl.searchTerm)" class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i> 
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
        <div ng-init="ctrl.render()">

            <div ng-controller="dispatchController"></div>

            <div style="margin-top: 15px;" id="demo" class="collapse form-login">
              <!--<button style="border-radius: 15px" class="btn btn-info">-->
              <h4>Hi, Pet Detective!</h4>
                <label style="color: white" for="lostOrFound"> Choose Lost or Found: </label><br>
                  <select name="lostOrFound" ng-model="ctrl.petState.lostOrFound">
                    <option ng-model="ctrl.petState.lostOrFound" value="{{ctrl.petState.option1}}">Lost</option>
                    <option ng-model="ctrl.petState.lostOrFound" value="{{ctrl.petState.option2}}">Found</option>
                  </select>
                  <tt style="color: white">{{ctrl.petState.lostOrFound}} Pet</tt>
                  <br>
                  <br>
                <label style="color: white" style="color: white" for="singleSelect"> Choose Animal Type: </label><br>
                <select name="singleSelect" ng-model="ctrl.data.singleSelect">
                  <option ng-model="ctrl.data.singleSelect" value="{{ctrl.data.option1}}">Cat</option>
                  <option ng-model="ctrl.data.singleSelect" value="{{ctrl.data.option2}}">Dog</option>
                </select>
                <tt style="color: white">  Type of Pet: {{ctrl.data.singleSelect}}</tt>

                <div class="form-group">
                  <br>
                  <label style="color: white" for="inlineFormInputGroup">Last Seen: Enter Address or Nearby Business</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">+</div>
                    <div>
                    <input type="text" id="address" g-places-autocomplete ng-model="ctrl.place" id="searchTextField" class="form-control input-large chat-input" placeholder="Start Typing Address..." />
                    </div>
                  </div>
                </div>
          <!--<div class="here"></div>-->
                <div class="form-group">
                  <label style="color: white">Enter Animal Details</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">+</div>
                    <textarea style="height: 50px;" ng-model="ctrl.formBody" id="userPassword" class="form-control input-sm chat-input" placeholder="Animal Details" rows="2" />
                  </div>
                </div>
                <div ng-init="imgSrc" ng-model="ctrl.img">{{ctrl.img}}</div>
                <img ng-src="ctrl.img">{{ctrl.img}}</img>
                <a href="#" id="upload_widget_opener">Upload Picture of your pet</a>
                <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

                <script type="text/javascript"> 
                  document.getElementById("upload_widget_opener").addEventListener("click", function() {
                    cloudinary.openUploadWidget({ cloud_name: 'rose8190', upload_preset: 'ipcueltn'}, 
                      function(error, result) { console.log(error, result) 
                        window.imgSrc = result[0].secure_url;
                        img = result[0].secure_url;
                        console.log(window.imgSrc);
                      });
                  }, false);
                </script>
                </br>
                <div class="wrapper">
                  <span class="group-btn">     
                    <a style="width: 400px" ng-click="ctrl.submit(ctrl.address, ctrl.formBody, window.imgSrc)" href="#" class="btn btn-primary btn-md">Submit Bulletin<i class="fa fa-sign-in"></i></a>
                  </span>
                </div>
            </div>  
          </div>
          
<div ng-repeat="bulletin in ctrl.bulletinData" style="border-radius: 10px;color: white; padding: 15px;margin-top: 10px;background-color:gray; height:auto" ng-click="ctrl.bullClick(bulletin)">
  <div ng-if="bulletin.user === ctrl.email">
    <button type="button" class="close" aria-label="Close" ng-click="ctrl.deletePost(bulletin)">
      <span style="top: 5px" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    </button>
  </div>
  <div style="border-radius: 10px;color: gray; padding: 15px;margin-top: 5px;background-color:lightgray; height:auto">

    <img style="border-radius: 50px; height: 70px" ng-src="{{bulletin.userpic}}" />
    <a id="email" ng-href="mailto:{{bulletin.user}}">email</a>
    <h2 style="padding: 5px; float:right">{{bulletin.type}}</h2>
    <h2 style="color: green; padding: 5px; float:right">{{bulletin.lostOrFound}}</h2>
    <h4 style="font-size: 19px"><b>{{bulletin.date}}</b></h4>
    <img class="imaaage" src="{{bulletin.petPic}}" style="height:100px;width:100px;float:right; display: block"/>
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">         
            <img src="" id="imagepreview" style="width: 100%; height: auto" >
          </div>
        </div>
      </div>
    </div>
    <script>
      $(".imaaage").on("click", function(e) {
        console.log('hit')
        let target = e.currentTarget
         $('#imagepreview').attr('src', $(target).attr('src')); // here asign the image to the modal when the user click the enlarge link
         $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
      });
    </script>

    <div style="font-size: 25px;border-radius: 10px;background-color: white; height: 100px;padding: 5px; display: inline;">{{bulletin.message}}</div>
    </br>
    </br>
    <div style="border-radius: 10px;font-size: 19px; color: white;background-color: gray; height: 50px; margin-top: 10px;padding: 5px; display: inline"><b>{{bulletin.lostOrFound}} Near:</b> {{bulletin.address}}</div>
  
    </div>
</div>
  

