<form class="row" style="background-color:lightblue;">
  <div class="form-group">
    <div>{{ctrl.lost}}</div>
      <label for="singleSelect"> Choose Animal Type: </label><br>
      <select name="singleSelect" ng-model="ctrl.data.singleSelect"> 
          <option ng-model="ctrl.data.singleSelect" value="{{ctrl.data.option1}}">Cat</option>
          <option ng-model="ctrl.data.singleSelect" value="{{ctrl.data.option2}}">Dog</option>
        </select>
        <tt>  TYPE OF PET: {{ctrl.data.singleSelect}}</tt>
    </div>   
    <div class="form-group">
      <label for="pwd">Enter Address or Intersection</label>
      <input ng-model="ctrl.address" type="text" class="form-control" id="pwd">
    </div>
    <div class="form-group">
      <label>Enter Animal Details</label>
      <input ng-model="ctrl.formBody" type="text" class="form-control" id="formBody">
    </div>
  <button ng-click="ctrl.submit(ctrl.singleSelect, ctrl.address, ctrl.formBody)" type="submit" class="btn btn-default">Submit</button>
</form>
