 
<form class="row" style="background-color:lightblue;">
  <div class="form-group">
    <div>{{ctrl.lost}}</div>
         <label for="singleSelect"> Choose Animal Type: </label><br>
              <select name="singleSelect" ng-model="ctrl.data.singleSelect"> 
                <option value="{{ctrl.data.option1}}">Cat</option> <!-- interpolation -->
                <option value="{{ctrl.data.option2}}">Dog</option>
            </select>
            <tt>  TYPE OF PET: {{ctrl.data.singleSelect}}</tt>
          </div>   
  <div class="form-group">
    <label for="pwd">Enter Address or Intersection</label>
    <input type="text" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label>Enter Animal Details</label>
    <input type="text" class="form-control" id="formBody">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>