<!--<div class="container">
	<div class="row">
        <div class="col-md-4">
    		<h2>Search Pets by Zipcode</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input ng-model="ctrl.zip" type="text" class="form-control input-lg" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button ng-click="ctrl.getBulletinModulesByZip(ctrl.zip)" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>-->